In [1]:
import pandas as pd

In [2]:
min=pd.read_csv('./민수.csv')

In [3]:
min.iloc[:,1:3]

                                             Title  label
0                국민안전로봇 2021년까지 개발…'로봇물고기' 전철 피할까?      0
1                       '국정원 해킹 의혹' 상임위 앞두고 與野 전초전      0
2   인터넷티비(TV)결합상품, 인터넷가입 비교사이트 통해 통신사별 장단점 비교해야 유리      0
3    SKT, LG, KT 인터넷가입 비교사이트 ‘펭귄통신’ 설치 당일 현금지원 이벤트      0
4                      설 연휴 고향 가는 길, 언제 출발해야 덜 막힐까      0
..                                             ...    ...
95                      최태원 SK 회장 다보스서 '사회적 가치' 설파      0
96        항공사부터 박물관까지 MS의 클라우드 세상 한 눈에… '애저 에브리웨어'      0
97                 반사이익 '톡톡' 티맵택시 120만 돌파…12배 '폭증'      0
98                     '카풀 논란'에도 카카오택시 호출 12월 최다 ↑      0
99                       LGU+가 시작한 5G 속도전.. 갈길이 멀다      0

[100 rows x 2 columns]

In [4]:
you=pd.read_csv('./유희.csv')
you
you.iloc[:,1:3]

                                  Title  label
0               타임워너, 국내 PP 지분 100%로 확대      0
1                     한국서 자율주행차 토론회 열린다      0
2       내일 'LG 워치' 조기출격…'65만원' 이유는?(종합)      0
3   26일 '체험존' 여는 '갤S6'…SKT 영업정지가 복병(종합)     -1
4          AK몰, 4일간의 특가쇼핑찬스 ‘크레이지 4데이즈’      0
..                                  ...    ...
95                [김영무 칼럼]17년 만의 팍스넷 상장      0
96   [마감시황]코스피, 7거래일만에 '숨고르기'…1990선 아래로      0
97  [뉴아시아,지나온 10년 다가올 10년]증시 알파고가 종목 추천      0
98          코스피, 外人 매도세 거세지며 '2000선' 위협      0
99                   코스피, 대형주 부진에 하락 출발     -1

[100 rows x 2 columns]

In [5]:
sora=pd.read_csv('./소라.csv')
sora
sora.iloc[:,1:3]

                                    Title  label
0   정부, 구글 지도 해외 반출 불허 구글이 보완책 수용 안해 (상보)      0
1              미래부, 2차 유료방송 발전방안 공개토론회 개최      0
2        SKT, 전용폰 구입 고객에 T1 롤드컵 우승 기념품 증정      1
3     '갤S7'사면 페이백 50만원 준다더니제2의 거성 모바일 사태?      0
4          케이블TV 가입자도 내년 1월부터 SKT 요금할인받는다      1
..                                    ...    ...
95         이통3사, LG G4 예약판매 돌입'혜택·이벤트' 듬뿍      1
96         'LG G4' 22일부터 이통3사 예판 액정 무상교체       1
97          '갤S6'로 승부 건 KT지원금 '상한액 수준' 올려      0
98        "엣지 없습니다  S6 품귀에 이통사 이벤트도 '연장'"      1
99                      LG유플러스, 용산 신사옥 시대      0

[100 rows x 2 columns]

In [6]:
str(sora['Title'])

'0     정부, 구글 지도 해외 반출 불허 구글이 보완책 수용 안해 (상보)\n1                미래부, 2차 유료방송 발전방안 공개토론회 개최\n2          SKT, 전용폰 구입 고객에 T1 롤드컵 우승 기념품 증정\n3       \'갤S7\'사면 페이백 50만원 준다더니제2의 거성 모바일 사태?\n4            케이블TV 가입자도 내년 1월부터 SKT 요금할인받는다\n                      ...                  \n95           이통3사, LG G4 예약판매 돌입\'혜택·이벤트\' 듬뿍\n96           \'LG G4\' 22일부터 이통3사 예판 액정 무상교체 \n97            \'갤S6\'로 승부 건 KT지원금 \'상한액 수준\' 올려\n98          "엣지 없습니다  S6 품귀에 이통사 이벤트도 \'연장\'"\n99                        LG유플러스, 용산 신사옥 시대\nName: Title, Length: 100, dtype: object'

In [7]:
hye=pd.read_csv('./혜지.csv')

In [8]:
hye
hye=hye.iloc[:,1:3]

In [9]:
hye

                                 Title  label
0      [굿모닝 증시]마이너스 금리·환율에 대처하는 우리의 자세    0.0
1            현대건설 SK텔레콤과 스마트홈 사업협력 MOU    1.0
2   유비벨록스 자회사 라임아이 디오인터랙티브 합병안 주주총회 승인    0.0
3   [특징주]SGA솔루션즈 애플의 FIDO 인증 제품 지원소식…↑    0.0
4    SK텔레콤 3분기 영업익 4662억..전년비 7.82% 감소   -1.0
..                                 ...    ...
95     박태환·안세현 2019 광주세계수영선수권 홍보대사로 임명    0.0
96  애플 아이폰6s 23일 국내 출시…이전보다 10만원 이상 비싸    0.0
97   SKT '연결의 힘' 캠페인…첫 프로젝트는 '정우 무전여행'    1.0
98         롤챔스 '버프걸' 채림, "인형이야, 사람이야?"    0.0
99                안세현 박태환 코치 '빨' 좀 받을까    0.0

[100 rows x 2 columns]

In [10]:
import numpy as np

In [11]:
np.bincount(hye['label'].isna())

array([98,  2], dtype=int64)

In [111]:
hye['label'].value_counts()

 0.0    87
 1.0    10
-1.0     1
Name: label, dtype: int64

In [106]:
hye['label'].unique()

array([ 0.,  1., -1., nan])

In [112]:
hye.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   100 non-null    object
 1   label   98 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [63]:
hjae=pd.read_csv('./희재.csv')
hjae

    Unnamed: 0                                              Title  label
0         2379                                 로봇세상에서 돋보인 '엣지컴퓨팅'      1
1         2383                      삼성전자 SKT 등 5G 스마트 팩토리 동맹 '맞손'      1
2         2399                                 5G 주도권 삼성전자 반전 노린다      1
3         2407                       SKT 5G자율주행車 첫선.. K-CITY를 달리다      1
4         2413                            젊어진 SK그룹…...4050 전진 앞으로      1
..         ...                                                ...    ...
78        4176  스웨덴 에릭슨"4차 산업혁명 협력할 韓 스타트업 찾습니다 ,0\r\n4187,SKT...      1
79        4202  CJ헬로비전 작년 영업이익 59.4% 감소한 429억원…"M&A 등 불확실성 해소,...      1
80        4259                                SKT 2019년까지 11조원 투자      1
81        4282                       통신사 커버리지맵 정확도 SKT 1위 '오차 0%'      1
82        4310  크리스마스 맞이 스마트폰 가격 인하…"연말 특수 기대,1\r\n4384,CJ헬로비전...      1

[83 rows x 3 columns]

In [72]:
hjae=hjae.iloc[:,1:3]

In [ ]:
min=pd.read_csv('./민수.csv')
you=pd.read_csv('./유희.csv')
sora=pd.read_csv('./소라.csv')
hye=pd.read_csv('./혜지.csv')
hjae=pd.read_csv('./희재.csv')