In [1]:
import pandas as pd
import numpy as np
import datetime

In [40]:
date_df = pd.read_csv('../../../Stock_Data/Data/stock_df/date_list.csv')
del date_df['Unnamed: 0']
del date_df['article']

In [41]:
date_df = date_df[date_df['Date'] <= '2019-12-31']

In [42]:
date_df

             Date  Category
0      2014-01-02         2
1      2014-01-02         3
2      2014-01-02         4
3      2014-01-02         5
4      2014-01-02         6
...           ...       ...
14695  2019-12-30         7
14696  2019-12-30         8
14697  2019-12-30         9
14698  2019-12-30        10
14699  2019-12-30        11

[14700 rows x 2 columns]

In [43]:
cj_article = pd.read_csv('../../../Sentiment Analysis/handmade_sentitest/trainingset/CJ제일제당_traintestdata_3300.csv')

In [44]:
cj_article

,Unnamed: 0,Title,Date,Category,label
0,0,"에너지공단, '2019년 ESP 성과공유 워크숍' 개최",2019.11.22,2,0
1,1,"[공직자 재산공개] 조국 민정수석, '1800만원 VS 1억원' 아까운 선택(종합)",2018.03.29,2,0
2,2,"[공직자 재산공개] 조국 민정수석, '1800만원 VS 1억원' 아까운 선택",2018.03.29,2,1
3,3,"CJ제일제당, 임산부 직원 배려하는 조직문화 강화",2018.03.12,2,-1
4,4,이건희 동영상' 촬영·협박 CJ 前부장 1심서 징역 4년6개월,2017.08.25,2,1
...,...,...,...,...,...
3308,3308,"클라라 사촌 이래나씨, CJ그룹 이선호씨와 결혼 ‘지덕체 겸비한 엄친딸’",2016.03.25,11,0
3309,3309,"CJ그룹 이재현 회장의 장남 이선호씨, 클라라 사촌과 결혼",2016.03.25,11,0
3310,3310,"더 예뻐진 박보람, ""다이어트엔 지름길 없어…'이것'이 중요하다""",2015.03.20,11,0
3311,3311,"CJ 채용, 18일 오후 6시 마감…지원 자격과 채용 분야는?",2014.03.17,11,0
3312,3312,"[소치]이광기·김호준, 스노보드 하프파이프 준결선행 좌절",2014.02.11,11,0

In [45]:
kospi20=['SK텔레콤','LG전자','이마트','기아차','SK하이닉스','한국전력',\
'현대백화점','셀트리온','KB금융','LG화학','아모레퍼시픽','기업은행','현대모비스','대우조선해양','GS건설',\
'S-Oil','CJ제일제당', '삼성전자','현대차','대한항공']

for index, kospi in enumerate(kospi20):
    #print(index)
    num = index+1
    article_df = pd.read_csv('C:/py/stock_trading_agent/article_df/selected20/{}_df.csv'.format(kospi))
    del article_df['Unnamed: 0']
    article_df = article_df.drop_duplicates('Title',keep = 'first')
    article_df = article_df.drop(article_df[article_df['Date'] == '2019.12.31'].index)
    article_df = article_df.dropna(axis=0)
    article_df = article_df.reset_index(drop=True)
    #print(len(article_df))
    for i in range(len(article_df)):
        #print(i)
        article_df['Date'][i] = article_df['Date'][i].replace('.','-')
    article_df = article_df.sort_values('Date')

    
    while True:
        index = article_df['Date'].isin(date_df['Date']) == False
        holidays = article_df['Date'][index]
        #print(len(holidays))
        if len(holidays) == 0:
            break
        else:
            for i in range(len(holidays)):
                holiday = holidays.iloc[i]
                conv_hd = datetime.datetime.strptime(holiday,'%Y-%m-%d')
                not_holiday = str(conv_hd + datetime.timedelta(days=1))[:10]
                holidays.iloc[i] = not_holiday
            article_df['Date'][index] = holidays 
    
    merge_df = pd.merge(date_df, article_df, left_on=['Date','Category'], right_on=['Date','Category'], how='left')
    
    # one-hot encoding
    merge_df['politics']=0
    merge_df['economics']=0
    merge_df['IT']=0
    merge_df['finance']=0
    merge_df['realEstate']=0
    merge_df['international']=0
    merge_df['social']=0
    merge_df['life']=0
    merge_df['golf']=0
    merge_df['ent']=0

    for i in range(len(merge_df)):
        if merge_df['Category'][i] == 2:
            merge_df['politics'][i] = 1
        elif merge_df['Category'][i] == 3:
            merge_df['economics'][i] = 1
        elif merge_df['Category'][i] == 4:
            merge_df['IT'][i] = 1
        elif merge_df['Category'][i] == 5:
            merge_df['finance'][i] = 1
        elif merge_df['Category'][i] == 6:
            merge_df['realEstate'][i] = 1
        elif merge_df['Category'][i] == 7:
            merge_df['international'][i] = 1
        elif merge_df['Category'][i] == 8:
            merge_df['social'][i] = 1
        elif merge_df['Category'][i] == 9:
            merge_df['life'][i] = 1
        elif merge_df['Category'][i] == 10:
            merge_df['golf'][i] = 1
        elif merge_df['Category'][i] == 11:
            merge_df['ent'][i] = 1
        #print(i)

    del merge_df['Category']    
    merge_df.to_csv('C:/py/stock_trading_agent/article_df/selected20/{index}. {name}_df_V2.csv'.format(index=num,name=kospi), index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/py/stock_trading_agent/article_df/selected20/SK텔레콤_df.csv'

In [26]:
article_df

                                           Title        Date  Category label
1859                      현대H몰, '설맞이 선물 대잔치' 특집전  2014-01-07         4     1
1858                   CJ제일제당, 실속 설 선물세트 130종 출시  2014-01-08         4     1
1857              CJ제일제당, 해외 수출용 '다시다 닭고기' 국내 출시  2014-01-09         4     1
1856          CJ, 경력단절 여성 재취업 프로젝트 'CJ리턴십' 2기 모집  2014-01-09         4     1
1853             [슈퍼스타P]스킨케어의 진정한 마무리…속부터 탄탄한 피부  2014-01-10         4     0
...                                          ...         ...       ...   ...
23                    이달 식품 상장기업 브랜드평판 1위는 '오리온'  2019-12-30         3    -1
21    비상경영' CJ, 내실 위한 인사 단행…K푸드 주역 강신호, 제당 대표이사로  2019-12-30         3     1
22                              [인사]CJ그룹 정기 임원인사  2019-12-30         3     0
20          홈플러스, 새해 첫날 '빅딜데이'…상품 300여종 최대 반값 할인  2019-12-30         3     1
1860             CJ씨푸드, CJ제일제당과 1476억 규모 공급계약 체결  2019-12-30         5     1

[2418 rows x 4 columns]

In [49]:

article_df = cj_article

del article_df['Unnamed: 0']
article_df = article_df.drop_duplicates('Title',keep = 'first')
article_df = article_df.drop(article_df[article_df['Date'] == '2019.12.31'].index)
article_df = article_df.dropna(axis=0)
article_df = article_df.reset_index(drop=True)
#print(len(article_df))
for i in range(len(article_df)):
    #print(i)
    article_df['Date'][i] = article_df['Date'][i].replace('.','-')
article_df = article_df.sort_values('Date')


while True:
    index = article_df['Date'].isin(date_df['Date']) == False
    holidays = article_df['Date'][index]
    #print(len(holidays))
    if len(holidays) == 0:
        break
    else:
        for i in range(len(holidays)):
            holiday = holidays.iloc[i]
            conv_hd = datetime.datetime.strptime(holiday,'%Y-%m-%d')
            not_holiday = str(conv_hd + datetime.timedelta(days=1))[:10]
            holidays.iloc[i] = not_holiday
        article_df['Date'][index] = holidays 

merge_df = pd.merge(date_df, article_df, left_on=['Date','Category'], right_on=['Date','Category'], how='left')

# one-hot encoding
merge_df['politics']=0
merge_df['economics']=0
merge_df['IT']=0
merge_df['finance']=0
merge_df['realEstate']=0
merge_df['international']=0
merge_df['social']=0
merge_df['life']=0
merge_df['golf']=0
merge_df['ent']=0

for i in range(len(merge_df)):
    if merge_df['Category'][i] == 2:
        merge_df['politics'][i] = 1
    elif merge_df['Category'][i] == 3:
        merge_df['economics'][i] = 1
    elif merge_df['Category'][i] == 4:
        merge_df['IT'][i] = 1
    elif merge_df['Category'][i] == 5:
        merge_df['finance'][i] = 1
    elif merge_df['Category'][i] == 6:
        merge_df['realEstate'][i] = 1
    elif merge_df['Category'][i] == 7:
        merge_df['international'][i] = 1
    elif merge_df['Category'][i] == 8:
        merge_df['social'][i] = 1
    elif merge_df['Category'][i] == 9:
        merge_df['life'][i] = 1
    elif merge_df['Category'][i] == 10:
        merge_df['golf'][i] = 1
    elif merge_df['Category'][i] == 11:
        merge_df['ent'][i] = 1
    #print(i)

del merge_df['Category']    
merge_df.to_csv('cj_final.csv', index=False)

/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/test/.local/lib/python3.6/site-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
a = pd.read_csv('cj_final.csv')

In [51]:
a

,Date,Title,label,politics,economics,IT,finance,realEstate,international,social,life,golf,ent
0,2014-01-02,NaN,NaN,1,0,0,0,0,0,0,0,0,0
1,2014-01-02,NaN,NaN,0,1,0,0,0,0,0,0,0,0
2,2014-01-02,NaN,NaN,0,0,1,0,0,0,0,0,0,0
3,2014-01-02,NaN,NaN,0,0,0,1,0,0,0,0,0,0
4,2014-01-02,NaN,NaN,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15488,2019-12-30,NaN,NaN,0,0,0,0,0,1,0,0,0,0
15489,2019-12-30,NaN,NaN,0,0,0,0,0,0,1,0,0,0
15490,2019-12-30,NaN,NaN,0,0,0,0,0,0,0,1,0,0
15491,2019-12-30,NaN,NaN,0,0,0,0,0,0,0,0,1,0
15492,2019-12-30,NaN,NaN,0,0,0,0,0,0,0,0,0,1

In [52]:
del a['Title']

In [53]:
a

,Date,label,politics,economics,IT,finance,realEstate,international,social,life,golf,ent
0,2014-01-02,NaN,1,0,0,0,0,0,0,0,0,0
1,2014-01-02,NaN,0,1,0,0,0,0,0,0,0,0
2,2014-01-02,NaN,0,0,1,0,0,0,0,0,0,0
3,2014-01-02,NaN,0,0,0,1,0,0,0,0,0,0
4,2014-01-02,NaN,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15488,2019-12-30,NaN,0,0,0,0,0,1,0,0,0,0
15489,2019-12-30,NaN,0,0,0,0,0,0,1,0,0,0
15490,2019-12-30,NaN,0,0,0,0,0,0,0,1,0,0
15491,2019-12-30,NaN,0,0,0,0,0,0,0,0,1,0
15492,2019-12-30,NaN,0,0,0,0,0,0,0,0,0,1

### 날짜가 같고카테고리가 같다면 긍정 부정 중립으로 합친다.

In [ ]:
# 긍정일때 3, 부정일때 1, 중립일때 2로 변경