In [56]:
import pandas as pd
import numpy as np
import datetime

In [13]:
date_df = pd.read_csv('C:/py/stock_trading_agent/date_list_V2.csv')
del date_df['Unnamed: 0']

False

In [146]:
article_df

,Unnamed: 0.1,Title,Date,Category
0,10477,"한라, 용인역삼 지역주택조합 공사 수주…2109억 규모",2019-12-31,6.0
1,9447,"개미는 올해도 슬프다…순매수 톱10, 상승 종목 '0'",2019-12-31,5.0
2,583,[신상 뜯어보기]노브랜드가 구현한 불맛…'월요병' 특효약 짬뽕 컵라면,2019-12-30,3.0
3,10478,걸어서 다 누리는 프리미엄 입지 '화정 한양립스' 시선집중!,2019-12-30,6.0
4,4060,대기업 세대교체 인사 '여성·융합형 인재' 뜬다,2019-12-30,4.0
...,...,...,...,...
9983,85,통행세로 총수 배불린 삼양식품…과징금 26억,2014-01-05,3.0
9984,685,[주간채권]기지개 켜는 크레딧 시장,2014-01-04,5.0
9985,686,1월 둘째주 3500억원 규모 회사채 발행,2014-01-03,5.0
9986,687,'회사채 1번 타자' 이마트…올 채권시장 흥행 가늠자,2014-01-02,5.0
9987,1009,NaN,NaN,11.0

In [151]:
kospi20=['SK텔레콤','LG전자','이마트','기아차','SK하이닉스','한국전력',\
'현대백화점','셀트리온','KB금융','LG화학','아모레퍼시픽','기업은행','현대모비스','대우조선해양','GS건설',\
'S-Oil','CJ제일제당', '삼성전자','현대차','대한항공']

for index, kospi in enumerate(kospi20):
    #print(index)
    num = index+1
    article_df = pd.read_csv('C:/py/stock_trading_agent/article_df/selected20/{}_df.csv'.format(kospi))
    del article_df['Unnamed: 0']
    article_df = article_df.drop_duplicates('Title',keep = 'first')
    article_df = article_df.drop(article_df[article_df['Date'] == '2019.12.31'].index)
    article_df = article_df.dropna(axis=0)
    article_df = article_df.reset_index(drop=True)
    #print(len(article_df))
    for i in range(len(article_df)):
        #print(i)
        article_df['Date'][i] = article_df['Date'][i].replace('.','-')
    article_df = article_df.sort_values('Date')

    
    while True:
        index = article_df['Date'].isin(date_df['Date']) == False
        holidays = article_df['Date'][index]
        #print(len(holidays))
        if len(holidays) == 0:
            break
        else:
            for i in range(len(holidays)):
                holiday = holidays.iloc[i]
                conv_hd = datetime.datetime.strptime(holiday,'%Y-%m-%d')
                not_holiday = str(conv_hd + datetime.timedelta(days=1))[:10]
                holidays.iloc[i] = not_holiday
            article_df['Date'][index] = holidays
        
    
    merge_df = pd.merge(date_df, article_df, left_on=['Date','Category'], right_on=['Date','Category'], how='left')
    merge_df.to_csv('C:/py/stock_trading_agent/article_df/selected20/{index}.{name}_df.csv'.format(index=num,name=kospi))

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

624
277
69
34
12
5
4
3
2
1
0

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1456
384
107
63
31
14
12
10
4
1
0
1361
458
98
51
17
10
8
5
2
1
0
851
332
82
48
18
8
6
4
2
0
485
146
35
20
11
9
8
7
5
2
0
497
175
49
26
8
3
3
3
3
1
0
860
244
50
24
13
9
9
9
6
3
0
174
59
20
6
2
2
2
2
1
1
0
723
336
58
18
5
4
4
4
3
1
0
337
98
22
8
5
4
4
1
1
0
234
76
24
9
2
2
2
0
447
164
53
21
5
1
1
0
230
87
17
8
4
2
2
2
0
396
209
34
11
5
4
1
1
0
426
180
32
16
6
4
4
4
2
2
0
213
90
15
7
6
4
4
4
0
349
104
32
16
4
3
3
1
1
1
0
3426
1228
297
136
55
25
20
16
8
4
0
1451
532
129
73
28
10
8
5
3
1
0
690
310
68
30
17
7
5
4
3
1
0