In [2]:
import pandas as pd

In [3]:
import time

In [4]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [5]:
import requests # 웹 페이지 소스를 얻기 위한 패키지(기본 내장 패키지이다.)
from bs4 import BeautifulSoup # 웹 페이지 소스를 얻기 위한 패키지, 더 간단히 얻을 수 있다는 장점이 있다고 한다.

In [6]:
from datetime import datetime

In [7]:
import urllib.request 
from selenium.webdriver import Chrome
import json
import re     
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt

In [ ]:
#url = 'https://finance.naver.com/item/coinfo.nhn?code=005930'

In [11]:
def ttt(xx):
    name = xx
    base_url = 'https://finance.naver.com/item/coinfo.nhn?code='+ name + '&target=finsum_more'
    return base_url
    
browser  = Chrome('C:/py/chrome/chromedriver.exe')
browser.maximize_window()

browser.get(ttt('005930'))

browser.switch_to_frame(browser.find_element_by_id('coinfo_cp')) #frame구조 안으로 들어가기

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: use driver.switch_to.frame instead
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
list = ['01760','066570','139480','000270','000660',
        '015760','069960','068270','105560','051910',
        '090430','024110','012330','042660','006360',
        '010950','097950','005930','005380','003490' ]

In [12]:
#재무제표 "연간" 클릭하기
browser.find_elements_by_xpath('//*[@class="schtab"][1]/tbody/tr/td[3]')[0].click()

In [13]:
html0 = browser.page_source #지금 현 상태의 page source불러오기
html1 = BeautifulSoup(html0,'html.parser')

#기업 title불러오기
title0 = html1.find('head').find('title').text
title0.split('-')[-1]

' 기업개요(삼성전자)'

In [14]:
html22 = html1.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'})
#재무제표 영역 불러오기

In [19]:
html22

<table class="gHead01 all-width" summary="주요재무정보를 제공합니다.">
<caption class="blind">주요재무정보</caption>
<thead>
<tr>
<th class="r03c00 bg" rowspan="2" style="width:125px">주요재무정보</th>
<th class="bg r01c02 endLine line-bottom" colspan="8">연간</th>
</tr>
<tr>
<th class="r03c01 bg ">
									2015/12
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c02 bg ">
									2016/12
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c03 bg ">
									2017/12
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c04 bg ">
									2018/12
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c05 bg ">
									2019/12
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c06 bg ">
									2020/12(E)
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c07 bg ">
									2021/12(E)
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th>
<th class="r03c08 bg endLine">
									2022/12(E)
									<br/>
<span class="span-sub">(IFRS연결)</span>
</th></tr></thead><tbody>
<tr>
<th class="bg txt title ">매출액</th>
<td class="num line "><span class="cBk">2,006,535</span></td>
<td class="num line "><span class="cBk">2,018,667</span></td>
<td class="num line "><span class="cBk">2,395,754</span></td>
<td class="num line "><span class="cBk">2,437,714</span></td>
<td class="num line "><span class="cBk">2,304,009</span></td>
<td class="num bgE line "><span class="cBk">2,381,133</span></td>
<td class="num bgE line "><span class="cBk">2,638,801</span></td>
<td class="num bgE noline-right "><span class="cBk">2,810,398</span></td>
</tr>
<tr>
<th class="bg txt title ">영업이익</th>
<td class="num line "><span class="cBk">264,134</span></td>
<td class="num line "><span class="cBk">292,407</span></td>
<td class="num line "><span class="cBk">536,450</span></td>
<td class="num line "><span class="cBk">588,867</span></td>
<td class="num line "><span class="cBk">277,685</span></td>
<td class="num bgE line "><span class="cBk">370,269</span></td>
<td class="num bgE line "><span class="cBk">468,845</span></td>
<td class="num bgE noline-right "><span class="cBk">544,703</span></td>
</tr>
<tr>
<th class="bg txt title ">영업이익(발표기준)</th>
<td class="num line "><span class="cBk">264,134</span></td>
<td class="num line "><span class="cBk">292,407</span></td>
<td class="num line "><span class="cBk">536,450</span></td>
<td class="num line "><span class="cBk">588,867</span></td>
<td class="num line "><span class="cBk">277,685</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">세전계속사업이익</th>
<td class="num line "><span class="cBk">259,610</span></td>
<td class="num line "><span class="cBk">307,137</span></td>
<td class="num line "><span class="cBk">561,960</span></td>
<td class="num line "><span class="cBk">611,600</span></td>
<td class="num line "><span class="cBk">304,322</span></td>
<td class="num bgE line "><span class="cBk">386,894</span></td>
<td class="num bgE line "><span class="cBk">494,052</span></td>
<td class="num bgE noline-right "><span class="cBk">576,234</span></td>
</tr>
<tr>
<th class="bg txt title ">당기순이익</th>
<td class="num line "><span class="cBk">190,601</span></td>
<td class="num line "><span class="cBk">227,261</span></td>
<td class="num line "><span class="cBk">421,867</span></td>
<td class="num line "><span class="cBk">443,449</span></td>
<td class="num line "><span class="cBk">217,389</span></td>
<td class="num bgE line "><span class="cBk">278,643</span></td>
<td class="num bgE line "><span class="cBk">356,890</span></td>
<td class="num bgE noline-right "><span class="cBk">416,790</span></td>
</tr>
<tr>
<th class="bg txt title ">  당기순이익(지배)</th>
<td class="num line "><span class="cBk">186,946</span></td>
<td class="num line "><span class="cBk">224,157</span></td>
<td class="num line "><span class="cBk">413,446</span></td>
<td class="num line "><span class="cBk">438,909</span></td>
<td class="num line "><span class="cBk">215,051</span></td>
<td class="num bgE line "><span class="cBk">277,479</span></td>
<td class="num bgE line "><span class="cBk">354,470</span></td>
<td class="num bgE noline-right "><span class="cBk">412,925</span></td>
</tr>
<tr>
<th class="bg txt title ">  당기순이익(비지배)</th>
<td class="num line "><span class="cBk">3,655</span></td>
<td class="num line "><span class="cBk">3,104</span></td>
<td class="num line "><span class="cBk">8,422</span></td>
<td class="num line "><span class="cBk">4,540</span></td>
<td class="num line "><span class="cBk">2,338</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">자산총계</th>
<td class="num line "><span class="cBk">2,421,795</span></td>
<td class="num line "><span class="cBk">2,621,743</span></td>
<td class="num line "><span class="cBk">3,017,521</span></td>
<td class="num line "><span class="cBk">3,393,572</span></td>
<td class="num line "><span class="cBk">3,525,645</span></td>
<td class="num bgE line "><span class="cBk">3,756,090</span></td>
<td class="num bgE line "><span class="cBk">4,061,845</span></td>
<td class="num bgE noline-right "><span class="cBk">4,407,799</span></td>
</tr>
<tr>
<th class="bg txt title ">부채총계</th>
<td class="num line "><span class="cBk">631,197</span></td>
<td class="num line "><span class="cBk">692,113</span></td>
<td class="num line "><span class="cBk">872,607</span></td>
<td class="num line "><span class="cBk">916,041</span></td>
<td class="num line "><span class="cBk">896,841</span></td>
<td class="num bgE line "><span class="cBk">926,417</span></td>
<td class="num bgE line "><span class="cBk">983,344</span></td>
<td class="num bgE noline-right "><span class="cBk">1,035,687</span></td>
</tr>
<tr>
<th class="bg txt title ">자본총계</th>
<td class="num line "><span class="cBk">1,790,598</span></td>
<td class="num line "><span class="cBk">1,929,630</span></td>
<td class="num line "><span class="cBk">2,144,914</span></td>
<td class="num line "><span class="cBk">2,477,532</span></td>
<td class="num line "><span class="cBk">2,628,804</span></td>
<td class="num bgE line "><span class="cBk">2,829,674</span></td>
<td class="num bgE line "><span class="cBk">3,078,501</span></td>
<td class="num bgE noline-right "><span class="cBk">3,394,611</span></td>
</tr>
<tr>
<th class="bg txt title ">  자본총계(지배)</th>
<td class="num line "><span class="cBk">1,728,768</span></td>
<td class="num line "><span class="cBk">1,864,243</span></td>
<td class="num line "><span class="cBk">2,072,134</span></td>
<td class="num line "><span class="cBk">2,400,690</span></td>
<td class="num line "><span class="cBk">2,549,155</span></td>
<td class="num bgE line "><span class="cBk">2,746,834</span></td>
<td class="num bgE line "><span class="cBk">2,992,687</span></td>
<td class="num bgE noline-right "><span class="cBk">3,304,048</span></td>
</tr>
<tr>
<th class="bg txt title ">  자본총계(비지배)</th>
<td class="num line "><span class="cBk">61,830</span></td>
<td class="num line "><span class="cBk">65,387</span></td>
<td class="num line "><span class="cBk">72,780</span></td>
<td class="num line "></td>
<td class="num line "></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">자본금</th>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num bgE line "><span class="cBk">8,979</span></td>
<td class="num bgE line "><span class="cBk">8,979</span></td>
<td class="num bgE noline-right "><span class="cBk">8,978</span></td>
</tr>
<tr>
<th class="bg txt title ">영업활동현금흐름</th>
<td class="num line "><span class="cBk">400,618</span></td>
<td class="num line "><span class="cBk">473,856</span></td>
<td class="num line "><span class="cBk">621,620</span></td>
<td class="num line "><span class="cBk">670,319</span></td>
<td class="num line "><span class="cBk">453,829</span></td>
<td class="num bgE line "><span class="cBk">568,501</span></td>
<td class="num bgE line "><span class="cBk">640,797</span></td>
<td class="num bgE noline-right "><span class="cBk">726,503</span></td>
</tr>
<tr>
<th class="bg txt title ">투자활동현금흐름</th>
<td class="num line "><span class="cUp">-271,678</span></td>
<td class="num line "><span class="cUp">-296,587</span></td>
<td class="num line "><span class="cUp">-493,852</span></td>
<td class="num line "><span class="cUp">-522,405</span></td>
<td class="num line "><span class="cUp">-399,482</span></td>
<td class="num bgE line "><span class="cUp">-337,256</span></td>
<td class="num bgE line "><span class="cUp">-414,454</span></td>
<td class="num bgE noline-right "><span class="cUp">-411,260</span></td>
</tr>
<tr>
<th class="bg txt title ">재무활동현금흐름</th>
<td class="num line "><span class="cUp">-65,735</span></td>
<td class="num line "><span class="cUp">-86,695</span></td>
<td class="num line "><span class="cUp">-125,609</span></td>
<td class="num line "><span class="cUp">-150,902</span></td>
<td class="num line "><span class="cUp">-94,845</span></td>
<td class="num bgE line "><span class="cUp">-113,389</span></td>
<td class="num bgE line "><span class="cUp">-117,753</span></td>
<td class="num bgE noline-right "><span class="cUp">-123,585</span></td>
</tr>
<tr>
<th class="bg txt title ">CAPEX</th>
<td class="num line "><span class="cBk">258,802</span></td>
<td class="num line "><span class="cBk">241,430</span></td>
<td class="num line "><span class="cBk">427,922</span></td>
<td class="num line "><span class="cBk">295,564</span></td>
<td class="num line "><span class="cBk">253,678</span></td>
<td class="num bgE line "><span class="cBk">324,090</span></td>
<td class="num bgE line "><span class="cBk">345,366</span></td>
<td class="num bgE noline-right "><span class="cBk">354,878</span></td>
</tr>
<tr>
<th class="bg txt title ">FCF</th>
<td class="num line "><span class="cBk">141,815</span></td>
<td class="num line "><span class="cBk">232,427</span></td>
<td class="num line "><span class="cBk">193,698</span></td>
<td class="num line "><span class="cBk">374,755</span></td>
<td class="num line "><span class="cBk">200,152</span></td>
<td class="num bgE line "><span class="cBk">234,747</span></td>
<td class="num bgE line "><span class="cBk">275,281</span></td>
<td class="num bgE noline-right "><span class="cBk">368,367</span></td>
</tr>
<tr>
<th class="bg txt title ">이자발생부채</th>
<td class="num line "><span class="cBk">128,740</span></td>
<td class="num line "><span class="cBk">152,824</span></td>
<td class="num line "><span class="cBk">188,140</span></td>
<td class="num line "><span class="cBk">146,671</span></td>
<td class="num line "><span class="cBk">184,120</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">영업이익률</th>
<td class="num line "><span class="cBk">13.16</span></td>
<td class="num line "><span class="cBk">14.49</span></td>
<td class="num line "><span class="cBk">22.39</span></td>
<td class="num line "><span class="cBk">24.16</span></td>
<td class="num line "><span class="cBk">12.05</span></td>
<td class="num bgE line "><span class="cBk">15.55</span></td>
<td class="num bgE line "><span class="cBk">17.77</span></td>
<td class="num bgE noline-right "><span class="cBk">19.38</span></td>
</tr>
<tr>
<th class="bg txt title ">순이익률</th>
<td class="num line "><span class="cBk">9.50</span></td>
<td class="num line "><span class="cBk">11.26</span></td>
<td class="num line "><span class="cBk">17.61</span></td>
<td class="num line "><span class="cBk">18.19</span></td>
<td class="num line "><span class="cBk">9.44</span></td>
<td class="num bgE line "><span class="cBk">11.70</span></td>
<td class="num bgE line "><span class="cBk">13.53</span></td>
<td class="num bgE noline-right "><span class="cBk">14.83</span></td>
</tr>
<tr>
<th class="bg txt title ">ROE(%)</th>
<td class="num line "><span class="cBk">11.16</span></td>
<td class="num line "><span class="cBk">12.48</span></td>
<td class="num line "><span class="cBk">21.01</span></td>
<td class="num line "><span class="cBk">19.63</span></td>
<td class="num line "><span class="cBk">8.69</span></td>
<td class="num bgE line "><span class="cBk">10.48</span></td>
<td class="num bgE line "><span class="cBk">12.35</span></td>
<td class="num bgE noline-right "><span class="cBk">13.12</span></td>
</tr>
<tr>
<th class="bg txt title ">ROA(%)</th>
<td class="num line "><span class="cBk">8.07</span></td>
<td class="num line "><span class="cBk">9.01</span></td>
<td class="num line "><span class="cBk">14.96</span></td>
<td class="num line "><span class="cBk">13.83</span></td>
<td class="num line "><span class="cBk">6.28</span></td>
<td class="num bgE line "><span class="cBk">7.65</span></td>
<td class="num bgE line "><span class="cBk">9.13</span></td>
<td class="num bgE noline-right "><span class="cBk">9.84</span></td>
</tr>
<tr>
<th class="bg txt title ">부채비율</th>
<td class="num line "><span class="cBk">35.25</span></td>
<td class="num line "><span class="cBk">35.87</span></td>
<td class="num line "><span class="cBk">40.68</span></td>
<td class="num line "><span class="cBk">36.97</span></td>
<td class="num line "><span class="cBk">34.12</span></td>
<td class="num bgE line "><span class="cBk">32.74</span></td>
<td class="num bgE line "><span class="cBk">31.94</span></td>
<td class="num bgE noline-right "><span class="cBk">30.51</span></td>
</tr>
<tr>
<th class="bg txt title ">자본유보율</th>
<td class="num line "><span class="cBk">21,117.88</span></td>
<td class="num line "><span class="cBk">22,004.14</span></td>
<td class="num line "><span class="cBk">24,536.12</span></td>
<td class="num line "><span class="cBk">27,531.92</span></td>
<td class="num line "><span class="cBk">28,856.02</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">EPS(원)</th>
<td class="num line "><span class="cBk">2,198</span></td>
<td class="num line "><span class="cBk">2,735</span></td>
<td class="num line "><span class="cBk">5,421</span></td>
<td class="num line "><span class="cBk">6,024</span></td>
<td class="num line "><span class="cBk">3,166</span></td>
<td class="num bgE line "><span class="cBk">4,085</span></td>
<td class="num bgE line "><span class="cBk">5,218</span></td>
<td class="num bgE noline-right "><span class="cBk">6,079</span></td>
</tr>
<tr>
<th class="bg txt title ">PER(배)</th>
<td class="num line "><span class="cBk">11.47</span></td>
<td class="num line "><span class="cBk">13.18</span></td>
<td class="num line "><span class="cBk">9.40</span></td>
<td class="num line "><span class="cBk">6.42</span></td>
<td class="num line "><span class="cBk">17.63</span></td>
<td class="num bgE line "><span class="cBk">14.64</span></td>
<td class="num bgE line "><span class="cBk">11.46</span></td>
<td class="num bgE noline-right "><span class="cBk">9.84</span></td>
</tr>
<tr>
<th class="bg txt title ">BPS(원)</th>
<td class="num line "><span class="cBk">23,715</span></td>
<td class="num line "><span class="cBk">26,636</span></td>
<td class="num line "><span class="cBk">30,427</span></td>
<td class="num line "><span class="cBk">35,342</span></td>
<td class="num line "><span class="cBk">37,528</span></td>
<td class="num bgE line "><span class="cBk">40,438</span></td>
<td class="num bgE line "><span class="cBk">44,058</span></td>
<td class="num bgE noline-right "><span class="cBk">48,641</span></td>
</tr>
<tr>
<th class="bg txt title ">PBR(배)</th>
<td class="num line "><span class="cBk">1.06</span></td>
<td class="num line "><span class="cBk">1.35</span></td>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">1.09</span></td>
<td class="num line "><span class="cBk">1.49</span></td>
<td class="num bgE line "><span class="cBk">1.48</span></td>
<td class="num bgE line "><span class="cBk">1.36</span></td>
<td class="num bgE noline-right "><span class="cBk">1.23</span></td>
</tr>
<tr>
<th class="bg txt title ">현금DPS(원)</th>
<td class="num line "><span class="cBk">420</span></td>
<td class="num line "><span class="cBk">570</span></td>
<td class="num line "><span class="cBk">850</span></td>
<td class="num line "><span class="cBk">1,416</span></td>
<td class="num line "><span class="cBk">1,416</span></td>
<td class="num bgE line "><span class="cBk">1,475</span></td>
<td class="num bgE line "><span class="cBk">1,517</span></td>
<td class="num bgE noline-right "><span class="cBk">1,536</span></td>
</tr>
<tr>
<th class="bg txt title ">현금배당수익률</th>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">1.58</span></td>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">3.66</span></td>
<td class="num line "><span class="cBk">2.54</span></td>
<td class="num bgE line "><span class="cBk">2.47</span></td>
<td class="num bgE line "><span class="cBk">2.54</span></td>
<td class="num bgE noline-right "><span class="cBk">2.57</span></td>
</tr>
<tr>
<th class="bg txt title ">현금배당성향(%)</th>
<td class="num line "><span class="cBk">16.42</span></td>
<td class="num line "><span class="cBk">17.81</span></td>
<td class="num line "><span class="cBk">14.09</span></td>
<td class="num line "><span class="cBk">21.92</span></td>
<td class="num line "><span class="cBk">44.73</span></td>
<td class="num bgE line "><span class="cBk">31.72</span></td>
<td class="num bgE line "><span class="cBk">25.54</span></td>
<td class="num bgE noline-right "><span class="cBk">22.21</span></td>
</tr>
<tr>
<th class="bg txt title line-bottom">발행주식수(보통주)</th>
<td class="num line line-bottom"><span class="cBk">7,364,966,850</span></td>
<td class="num line line-bottom"><span class="cBk">7,033,966,850</span></td>
<td class="num line line-bottom"><span class="cBk">6,454,924,700</span></td>
<td class="num line line-bottom"><span class="cBk">5,969,782,550</span></td>
<td class="num line line-bottom"><span class="cBk">5,969,782,550</span></td>
<td class="num bgE line line-bottom"></td>
<td class="num bgE line line-bottom"></td>
<td class="num bgE noline-right line-bottom"></td>
</tr>
</tbody></table>

In [15]:
thead0 = html22.find('thead') #날짜가 재무제표영역의 head부분에 들어가 있기 때문에 thead를 불러와야 한다.
tr0 = thead0.find_all('tr')[1] #존재하고 있는 날짜대로 findall로 모두 수집
th0 = tr0.find_all('th')
#날짜부분만 따로 저장
date = []
for i in range(len(th0)):
    date.append(''.join(re.findall('[0-9/]',th0[i].text)))

In [20]:
date

['2015/12',
 '2016/12',
 '2017/12',
 '2018/12',
 '2019/12',
 '2020/12',
 '2021/12',
 '2022/12']

In [16]:
tbody0 = html22.find('tbody') #tbody에 column으로 사용할 데이터와 본문 데이터가 모두 담겨져 있다.
tr0 = tbody0.find_all('tr')

#columns 수집
col = []
for i in range(len(tr0)):
    
    if '\xa0' in tr0[i].find('th').text:
        tx = re.sub('\xa0','',tr0[i].find('th').text)
    else:
        tx = tr0[i].find('th').text
        
    col.append(tx)

In [24]:
tbody0

<tbody>
<tr>
<th class="bg txt title ">매출액</th>
<td class="num line "><span class="cBk">2,006,535</span></td>
<td class="num line "><span class="cBk">2,018,667</span></td>
<td class="num line "><span class="cBk">2,395,754</span></td>
<td class="num line "><span class="cBk">2,437,714</span></td>
<td class="num line "><span class="cBk">2,304,009</span></td>
<td class="num bgE line "><span class="cBk">2,381,133</span></td>
<td class="num bgE line "><span class="cBk">2,638,801</span></td>
<td class="num bgE noline-right "><span class="cBk">2,810,398</span></td>
</tr>
<tr>
<th class="bg txt title ">영업이익</th>
<td class="num line "><span class="cBk">264,134</span></td>
<td class="num line "><span class="cBk">292,407</span></td>
<td class="num line "><span class="cBk">536,450</span></td>
<td class="num line "><span class="cBk">588,867</span></td>
<td class="num line "><span class="cBk">277,685</span></td>
<td class="num bgE line "><span class="cBk">370,269</span></td>
<td class="num bgE line "><span class="cBk">468,845</span></td>
<td class="num bgE noline-right "><span class="cBk">544,703</span></td>
</tr>
<tr>
<th class="bg txt title ">영업이익(발표기준)</th>
<td class="num line "><span class="cBk">264,134</span></td>
<td class="num line "><span class="cBk">292,407</span></td>
<td class="num line "><span class="cBk">536,450</span></td>
<td class="num line "><span class="cBk">588,867</span></td>
<td class="num line "><span class="cBk">277,685</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">세전계속사업이익</th>
<td class="num line "><span class="cBk">259,610</span></td>
<td class="num line "><span class="cBk">307,137</span></td>
<td class="num line "><span class="cBk">561,960</span></td>
<td class="num line "><span class="cBk">611,600</span></td>
<td class="num line "><span class="cBk">304,322</span></td>
<td class="num bgE line "><span class="cBk">386,894</span></td>
<td class="num bgE line "><span class="cBk">494,052</span></td>
<td class="num bgE noline-right "><span class="cBk">576,234</span></td>
</tr>
<tr>
<th class="bg txt title ">당기순이익</th>
<td class="num line "><span class="cBk">190,601</span></td>
<td class="num line "><span class="cBk">227,261</span></td>
<td class="num line "><span class="cBk">421,867</span></td>
<td class="num line "><span class="cBk">443,449</span></td>
<td class="num line "><span class="cBk">217,389</span></td>
<td class="num bgE line "><span class="cBk">278,643</span></td>
<td class="num bgE line "><span class="cBk">356,890</span></td>
<td class="num bgE noline-right "><span class="cBk">416,790</span></td>
</tr>
<tr>
<th class="bg txt title ">  당기순이익(지배)</th>
<td class="num line "><span class="cBk">186,946</span></td>
<td class="num line "><span class="cBk">224,157</span></td>
<td class="num line "><span class="cBk">413,446</span></td>
<td class="num line "><span class="cBk">438,909</span></td>
<td class="num line "><span class="cBk">215,051</span></td>
<td class="num bgE line "><span class="cBk">277,479</span></td>
<td class="num bgE line "><span class="cBk">354,470</span></td>
<td class="num bgE noline-right "><span class="cBk">412,925</span></td>
</tr>
<tr>
<th class="bg txt title ">  당기순이익(비지배)</th>
<td class="num line "><span class="cBk">3,655</span></td>
<td class="num line "><span class="cBk">3,104</span></td>
<td class="num line "><span class="cBk">8,422</span></td>
<td class="num line "><span class="cBk">4,540</span></td>
<td class="num line "><span class="cBk">2,338</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">자산총계</th>
<td class="num line "><span class="cBk">2,421,795</span></td>
<td class="num line "><span class="cBk">2,621,743</span></td>
<td class="num line "><span class="cBk">3,017,521</span></td>
<td class="num line "><span class="cBk">3,393,572</span></td>
<td class="num line "><span class="cBk">3,525,645</span></td>
<td class="num bgE line "><span class="cBk">3,756,090</span></td>
<td class="num bgE line "><span class="cBk">4,061,845</span></td>
<td class="num bgE noline-right "><span class="cBk">4,407,799</span></td>
</tr>
<tr>
<th class="bg txt title ">부채총계</th>
<td class="num line "><span class="cBk">631,197</span></td>
<td class="num line "><span class="cBk">692,113</span></td>
<td class="num line "><span class="cBk">872,607</span></td>
<td class="num line "><span class="cBk">916,041</span></td>
<td class="num line "><span class="cBk">896,841</span></td>
<td class="num bgE line "><span class="cBk">926,417</span></td>
<td class="num bgE line "><span class="cBk">983,344</span></td>
<td class="num bgE noline-right "><span class="cBk">1,035,687</span></td>
</tr>
<tr>
<th class="bg txt title ">자본총계</th>
<td class="num line "><span class="cBk">1,790,598</span></td>
<td class="num line "><span class="cBk">1,929,630</span></td>
<td class="num line "><span class="cBk">2,144,914</span></td>
<td class="num line "><span class="cBk">2,477,532</span></td>
<td class="num line "><span class="cBk">2,628,804</span></td>
<td class="num bgE line "><span class="cBk">2,829,674</span></td>
<td class="num bgE line "><span class="cBk">3,078,501</span></td>
<td class="num bgE noline-right "><span class="cBk">3,394,611</span></td>
</tr>
<tr>
<th class="bg txt title ">  자본총계(지배)</th>
<td class="num line "><span class="cBk">1,728,768</span></td>
<td class="num line "><span class="cBk">1,864,243</span></td>
<td class="num line "><span class="cBk">2,072,134</span></td>
<td class="num line "><span class="cBk">2,400,690</span></td>
<td class="num line "><span class="cBk">2,549,155</span></td>
<td class="num bgE line "><span class="cBk">2,746,834</span></td>
<td class="num bgE line "><span class="cBk">2,992,687</span></td>
<td class="num bgE noline-right "><span class="cBk">3,304,048</span></td>
</tr>
<tr>
<th class="bg txt title ">  자본총계(비지배)</th>
<td class="num line "><span class="cBk">61,830</span></td>
<td class="num line "><span class="cBk">65,387</span></td>
<td class="num line "><span class="cBk">72,780</span></td>
<td class="num line "></td>
<td class="num line "></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">자본금</th>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num line "><span class="cBk">8,975</span></td>
<td class="num bgE line "><span class="cBk">8,979</span></td>
<td class="num bgE line "><span class="cBk">8,979</span></td>
<td class="num bgE noline-right "><span class="cBk">8,978</span></td>
</tr>
<tr>
<th class="bg txt title ">영업활동현금흐름</th>
<td class="num line "><span class="cBk">400,618</span></td>
<td class="num line "><span class="cBk">473,856</span></td>
<td class="num line "><span class="cBk">621,620</span></td>
<td class="num line "><span class="cBk">670,319</span></td>
<td class="num line "><span class="cBk">453,829</span></td>
<td class="num bgE line "><span class="cBk">568,501</span></td>
<td class="num bgE line "><span class="cBk">640,797</span></td>
<td class="num bgE noline-right "><span class="cBk">726,503</span></td>
</tr>
<tr>
<th class="bg txt title ">투자활동현금흐름</th>
<td class="num line "><span class="cUp">-271,678</span></td>
<td class="num line "><span class="cUp">-296,587</span></td>
<td class="num line "><span class="cUp">-493,852</span></td>
<td class="num line "><span class="cUp">-522,405</span></td>
<td class="num line "><span class="cUp">-399,482</span></td>
<td class="num bgE line "><span class="cUp">-337,256</span></td>
<td class="num bgE line "><span class="cUp">-414,454</span></td>
<td class="num bgE noline-right "><span class="cUp">-411,260</span></td>
</tr>
<tr>
<th class="bg txt title ">재무활동현금흐름</th>
<td class="num line "><span class="cUp">-65,735</span></td>
<td class="num line "><span class="cUp">-86,695</span></td>
<td class="num line "><span class="cUp">-125,609</span></td>
<td class="num line "><span class="cUp">-150,902</span></td>
<td class="num line "><span class="cUp">-94,845</span></td>
<td class="num bgE line "><span class="cUp">-113,389</span></td>
<td class="num bgE line "><span class="cUp">-117,753</span></td>
<td class="num bgE noline-right "><span class="cUp">-123,585</span></td>
</tr>
<tr>
<th class="bg txt title ">CAPEX</th>
<td class="num line "><span class="cBk">258,802</span></td>
<td class="num line "><span class="cBk">241,430</span></td>
<td class="num line "><span class="cBk">427,922</span></td>
<td class="num line "><span class="cBk">295,564</span></td>
<td class="num line "><span class="cBk">253,678</span></td>
<td class="num bgE line "><span class="cBk">324,090</span></td>
<td class="num bgE line "><span class="cBk">345,366</span></td>
<td class="num bgE noline-right "><span class="cBk">354,878</span></td>
</tr>
<tr>
<th class="bg txt title ">FCF</th>
<td class="num line "><span class="cBk">141,815</span></td>
<td class="num line "><span class="cBk">232,427</span></td>
<td class="num line "><span class="cBk">193,698</span></td>
<td class="num line "><span class="cBk">374,755</span></td>
<td class="num line "><span class="cBk">200,152</span></td>
<td class="num bgE line "><span class="cBk">234,747</span></td>
<td class="num bgE line "><span class="cBk">275,281</span></td>
<td class="num bgE noline-right "><span class="cBk">368,367</span></td>
</tr>
<tr>
<th class="bg txt title ">이자발생부채</th>
<td class="num line "><span class="cBk">128,740</span></td>
<td class="num line "><span class="cBk">152,824</span></td>
<td class="num line "><span class="cBk">188,140</span></td>
<td class="num line "><span class="cBk">146,671</span></td>
<td class="num line "><span class="cBk">184,120</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">영업이익률</th>
<td class="num line "><span class="cBk">13.16</span></td>
<td class="num line "><span class="cBk">14.49</span></td>
<td class="num line "><span class="cBk">22.39</span></td>
<td class="num line "><span class="cBk">24.16</span></td>
<td class="num line "><span class="cBk">12.05</span></td>
<td class="num bgE line "><span class="cBk">15.55</span></td>
<td class="num bgE line "><span class="cBk">17.77</span></td>
<td class="num bgE noline-right "><span class="cBk">19.38</span></td>
</tr>
<tr>
<th class="bg txt title ">순이익률</th>
<td class="num line "><span class="cBk">9.50</span></td>
<td class="num line "><span class="cBk">11.26</span></td>
<td class="num line "><span class="cBk">17.61</span></td>
<td class="num line "><span class="cBk">18.19</span></td>
<td class="num line "><span class="cBk">9.44</span></td>
<td class="num bgE line "><span class="cBk">11.70</span></td>
<td class="num bgE line "><span class="cBk">13.53</span></td>
<td class="num bgE noline-right "><span class="cBk">14.83</span></td>
</tr>
<tr>
<th class="bg txt title ">ROE(%)</th>
<td class="num line "><span class="cBk">11.16</span></td>
<td class="num line "><span class="cBk">12.48</span></td>
<td class="num line "><span class="cBk">21.01</span></td>
<td class="num line "><span class="cBk">19.63</span></td>
<td class="num line "><span class="cBk">8.69</span></td>
<td class="num bgE line "><span class="cBk">10.48</span></td>
<td class="num bgE line "><span class="cBk">12.35</span></td>
<td class="num bgE noline-right "><span class="cBk">13.12</span></td>
</tr>
<tr>
<th class="bg txt title ">ROA(%)</th>
<td class="num line "><span class="cBk">8.07</span></td>
<td class="num line "><span class="cBk">9.01</span></td>
<td class="num line "><span class="cBk">14.96</span></td>
<td class="num line "><span class="cBk">13.83</span></td>
<td class="num line "><span class="cBk">6.28</span></td>
<td class="num bgE line "><span class="cBk">7.65</span></td>
<td class="num bgE line "><span class="cBk">9.13</span></td>
<td class="num bgE noline-right "><span class="cBk">9.84</span></td>
</tr>
<tr>
<th class="bg txt title ">부채비율</th>
<td class="num line "><span class="cBk">35.25</span></td>
<td class="num line "><span class="cBk">35.87</span></td>
<td class="num line "><span class="cBk">40.68</span></td>
<td class="num line "><span class="cBk">36.97</span></td>
<td class="num line "><span class="cBk">34.12</span></td>
<td class="num bgE line "><span class="cBk">32.74</span></td>
<td class="num bgE line "><span class="cBk">31.94</span></td>
<td class="num bgE noline-right "><span class="cBk">30.51</span></td>
</tr>
<tr>
<th class="bg txt title ">자본유보율</th>
<td class="num line "><span class="cBk">21,117.88</span></td>
<td class="num line "><span class="cBk">22,004.14</span></td>
<td class="num line "><span class="cBk">24,536.12</span></td>
<td class="num line "><span class="cBk">27,531.92</span></td>
<td class="num line "><span class="cBk">28,856.02</span></td>
<td class="num bgE line "></td>
<td class="num bgE line "></td>
<td class="num bgE noline-right "></td>
</tr>
<tr>
<th class="bg txt title ">EPS(원)</th>
<td class="num line "><span class="cBk">2,198</span></td>
<td class="num line "><span class="cBk">2,735</span></td>
<td class="num line "><span class="cBk">5,421</span></td>
<td class="num line "><span class="cBk">6,024</span></td>
<td class="num line "><span class="cBk">3,166</span></td>
<td class="num bgE line "><span class="cBk">4,085</span></td>
<td class="num bgE line "><span class="cBk">5,218</span></td>
<td class="num bgE noline-right "><span class="cBk">6,079</span></td>
</tr>
<tr>
<th class="bg txt title ">PER(배)</th>
<td class="num line "><span class="cBk">11.47</span></td>
<td class="num line "><span class="cBk">13.18</span></td>
<td class="num line "><span class="cBk">9.40</span></td>
<td class="num line "><span class="cBk">6.42</span></td>
<td class="num line "><span class="cBk">17.63</span></td>
<td class="num bgE line "><span class="cBk">14.64</span></td>
<td class="num bgE line "><span class="cBk">11.46</span></td>
<td class="num bgE noline-right "><span class="cBk">9.84</span></td>
</tr>
<tr>
<th class="bg txt title ">BPS(원)</th>
<td class="num line "><span class="cBk">23,715</span></td>
<td class="num line "><span class="cBk">26,636</span></td>
<td class="num line "><span class="cBk">30,427</span></td>
<td class="num line "><span class="cBk">35,342</span></td>
<td class="num line "><span class="cBk">37,528</span></td>
<td class="num bgE line "><span class="cBk">40,438</span></td>
<td class="num bgE line "><span class="cBk">44,058</span></td>
<td class="num bgE noline-right "><span class="cBk">48,641</span></td>
</tr>
<tr>
<th class="bg txt title ">PBR(배)</th>
<td class="num line "><span class="cBk">1.06</span></td>
<td class="num line "><span class="cBk">1.35</span></td>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">1.09</span></td>
<td class="num line "><span class="cBk">1.49</span></td>
<td class="num bgE line "><span class="cBk">1.48</span></td>
<td class="num bgE line "><span class="cBk">1.36</span></td>
<td class="num bgE noline-right "><span class="cBk">1.23</span></td>
</tr>
<tr>
<th class="bg txt title ">현금DPS(원)</th>
<td class="num line "><span class="cBk">420</span></td>
<td class="num line "><span class="cBk">570</span></td>
<td class="num line "><span class="cBk">850</span></td>
<td class="num line "><span class="cBk">1,416</span></td>
<td class="num line "><span class="cBk">1,416</span></td>
<td class="num bgE line "><span class="cBk">1,475</span></td>
<td class="num bgE line "><span class="cBk">1,517</span></td>
<td class="num bgE noline-right "><span class="cBk">1,536</span></td>
</tr>
<tr>
<th class="bg txt title ">현금배당수익률</th>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">1.58</span></td>
<td class="num line "><span class="cBk">1.67</span></td>
<td class="num line "><span class="cBk">3.66</span></td>
<td class="num line "><span class="cBk">2.54</span></td>
<td class="num bgE line "><span class="cBk">2.47</span></td>
<td class="num bgE line "><span class="cBk">2.54</span></td>
<td class="num bgE noline-right "><span class="cBk">2.57</span></td>
</tr>
<tr>
<th class="bg txt title ">현금배당성향(%)</th>
<td class="num line "><span class="cBk">16.42</span></td>
<td class="num line "><span class="cBk">17.81</span></td>
<td class="num line "><span class="cBk">14.09</span></td>
<td class="num line "><span class="cBk">21.92</span></td>
<td class="num line "><span class="cBk">44.73</span></td>
<td class="num bgE line "><span class="cBk">31.72</span></td>
<td class="num bgE line "><span class="cBk">25.54</span></td>
<td class="num bgE noline-right "><span class="cBk">22.21</span></td>
</tr>
<tr>
<th class="bg txt title line-bottom">발행주식수(보통주)</th>
<td class="num line line-bottom"><span class="cBk">7,364,966,850</span></td>
<td class="num line line-bottom"><span class="cBk">7,033,966,850</span></td>
<td class="num line line-bottom"><span class="cBk">6,454,924,700</span></td>
<td class="num line line-bottom"><span class="cBk">5,969,782,550</span></td>
<td class="num line line-bottom"><span class="cBk">5,969,782,550</span></td>
<td class="num bgE line line-bottom"></td>
<td class="num bgE line line-bottom"></td>
<td class="num bgE noline-right line-bottom"></td>
</tr>
</tbody>

In [37]:
#본문데아터 수집
td = []
for i in range(len(tr0)):
    td0 = tr0[i].find_all('td')
    td1 = []
    for j in range(len(td0)):
        if td0[j].text == '':
            td1.append('0')
        else:
            td1.append(td0[j].text)
            
    td.append(td1)

In [38]:
td1

['7,364,966,850',
 '7,033,966,850',
 '6,454,924,700',
 '5,969,782,550',
 '5,969,782,550',
 '0',
 '0',
 '0']

In [39]:
td2 = list(map(list,zip(*td)))

In [41]:
final = pd.DataFrame(td2,columns = col,index = date)

In [42]:
final

,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,...,부채비율,자본유보율,EPS(원),PER(배),BPS(원),PBR(배),현금DPS(원),현금배당수익률,현금배당성향(%),발행주식수(보통주)
2015/12,"2,006,535","264,134","264,134","259,610","190,601","186,946","3,655","2,421,795","631,197","1,790,598",...,35.25,"21,117.88","2,198",11.47,"23,715",1.06,420,1.67,16.42,"7,364,966,850"
2016/12,"2,018,667","292,407","292,407","307,137","227,261","224,157","3,104","2,621,743","692,113","1,929,630",...,35.87,"22,004.14","2,735",13.18,"26,636",1.35,570,1.58,17.81,"7,033,966,850"
2017/12,"2,395,754","536,450","536,450","561,960","421,867","413,446","8,422","3,017,521","872,607","2,144,914",...,40.68,"24,536.12","5,421",9.40,"30,427",1.67,850,1.67,14.09,"6,454,924,700"
2018/12,"2,437,714","588,867","588,867","611,600","443,449","438,909","4,540","3,393,572","916,041","2,477,532",...,36.97,"27,531.92","6,024",6.42,"35,342",1.09,"1,416",3.66,21.92,"5,969,782,550"
2019/12,"2,304,009","277,685","277,685","304,322","217,389","215,051","2,338","3,525,645","896,841","2,628,804",...,34.12,"28,856.02","3,166",17.63,"37,528",1.49,"1,416",2.54,44.73,"5,969,782,550"
2020/12,"2,381,133","370,269",0,"386,894","278,643","277,479",0,"3,756,090","926,417","2,829,674",...,32.74,0,"4,085",14.64,"40,438",1.48,"1,475",2.47,31.72,0
2021/12,"2,638,801","468,845",0,"494,052","356,890","354,470",0,"4,061,845","983,344","3,078,501",...,31.94,0,"5,218",11.46,"44,058",1.36,"1,517",2.54,25.54,0
2022/12,"2,810,398","544,703",0,"576,234","416,790","412,925",0,"4,407,799","1,035,687","3,394,611",...,30.51,0,"6,079",9.84,"48,641",1.23,"1,536",2.57,22.21,0

In [46]:
final[['PER(배)', 'PBR(배)','ROE(%)']]

        PER(배) PBR(배) ROE(%)
2015/12  11.47   1.06  11.16
2016/12  13.18   1.35  12.48
2017/12   9.40   1.67  21.01
2018/12   6.42   1.09  19.63
2019/12  17.63   1.49   8.69
2020/12  14.64   1.48  10.48
2021/12  11.46   1.36  12.35
2022/12   9.84   1.23  13.12

In [7]:
cospi20 = ['017670','066570','139480','000270','000660',
        '015760','069960','068270','105560','051910',
        '090430','024110','012330','042660','006360',
        '010950','097950','005930','005380','003490' ]

In [38]:
browser  = Chrome('C:/py/chrome/chromedriver.exe')
browser.maximize_window()

In [43]:
final_list= []

for i in cospi20 :
    f_df, f_name = www(i)
    file_name = './data/{}.csv'.format(f_name)
    f_df.to_csv(file_name)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: use driver.switch_to.frame instead
  # This is added back by InteractiveShellApp.init_path()

In [42]:
def www(number):
    
    def ttt(xx):
        name = xx
        base_url = 'https://finance.naver.com/item/coinfo.nhn?code='+ name + '&target=finsum_more'
        return base_url


    browser.get(ttt(number))

    browser.switch_to_frame(browser.find_element_by_id('coinfo_cp')) #frame구조 안으로 들어가기

    #재무제표 "연간" 클릭하기
    browser.find_elements_by_xpath('//*[@class="schtab"][1]/tbody/tr/td[3]')[0].click()

    html0 = browser.page_source #지금 현 상태의 page source불러오기
    html1 = BeautifulSoup(html0,'html.parser')

    #기업 title불러오기
    title0 = html1.find('head').find('title').text
    title1 = title0.split('-')[-1]

    html22 = html1.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'})
    #재무제표 영역 불러오기

    thead0 = html22.find('thead') #날짜가 재무제표영역의 head부분에 들어가 있기 때문에 thead를 불러와야 한다.
    tr0 = thead0.find_all('tr')[1] #존재하고 있는 날짜대로 findall로 모두 수집
    th0 = tr0.find_all('th')
    
    #날짜부분만 따로 저장
    date = []
    for i in range(len(th0)):
        date.append(''.join(re.findall('[0-9/]',th0[i].text)))

        tbody0 = html22.find('tbody') #tbody에 column으로 사용할 데이터와 본문 데이터가 모두 담겨져 있다.
    tr0 = tbody0.find_all('tr')

    #columns 수집
    col = []
    for i in range(len(tr0)):

        if '\xa0' in tr0[i].find('th').text:
            tx = re.sub('\xa0','',tr0[i].find('th').text)
        else:
            tx = tr0[i].find('th').text

        col.append(tx)



    #본문데이터 수

    td = []
    for i in range(len(tr0)):
        td0 = tr0[i].find_all('td')
        td1 = []
        for j in range(len(td0)):
            if td0[j].text == '':
                td1.append('0')
            else:
                td1.append(td0[j].text)

        td.append(td1)

        td2 = list(map(list,zip(*td)))


    total = pd.DataFrame(td2,columns = col,index = date)
    return total, title1

In [56]:
CJ제일제당 = pd.read_csv("C:/py/새 폴더/data/ 기업개요(CJ제일제당).csv")

In [57]:
CJ제일제당[['Unnamed: 0','PER(배)', 'PBR(배)','ROE(%)']]

  Unnamed: 0  PER(배)  PBR(배)  ROE(%)
0    2015/12   28.88    1.70    6.18
1    2016/12   18.77    1.48    8.42
2    2017/12   14.33    1.53   10.91
3    2018/12    6.10    1.11   21.46
4    2019/12   27.12    0.83    3.16
5    2020/12    7.46    1.02   15.06
6    2021/12   10.85    0.93    9.19
7    2022/12    9.59    0.85    9.49

In [32]:
대우조선해양 = pd.read_csv("C:/py/새 폴더/data/ 기업개요(대우조선해양).csv")

In [33]:
대우조선해양[['Unnamed: 0','PER(배)', 'PBR(배)','ROE(%)']]

  Unnamed: 0  PER(배)  PBR(배)  ROE(%)
0    2015/12     NaN    1.16 -132.52
1    2016/12     NaN    2.86 -279.57
2    2017/12    1.87    0.44   28.12
3    2018/12   10.61    0.95    9.53
4    2019/12     NaN    0.80   -1.22
5    2020/12    6.83    0.58    8.89
6    2021/12   20.16    0.57    2.84
7    2022/12   13.98    0.54    3.97

In [26]:
셀트리온 = pd.read_csv("C:/py/새 폴더/data/ 기업개요(셀트리온).csv")

In [27]:
셀트리온[['Unnamed: 0','ROE(%)','PBR(배)','PER(배)']]

  Unnamed: 0  ROE(%)  PBR(배)  PER(배)
0    2015/12   10.48    5.74   62.91
1    2016/12    9.50    6.43   74.12
2    2017/12   17.53   11.98   72.59
3    2018/12   10.84   11.24  108.87
4    2019/12   11.19    8.65   81.86
5    2020/12   18.01    9.52   58.17
6    2021/12   19.53    7.83   44.39
7    2022/12   18.86    6.42   37.76

In [59]:
KB금융[['Unnamed: 0','PER(배)', 'PBR(배)','ROE(%)']]

  Unnamed: 0  PER(배)  PBR(배)  ROE(%)
0    2015/12    7.54    0.45    6.07
1    2016/12    7.84    0.55    7.18
2    2017/12    8.01    0.74   10.18
3    2018/12    6.35    0.52    8.78
4    2019/12    6.01    0.48    8.92
5    2020/12    5.16    0.39    8.41
6    2021/12    5.04    0.37    8.02
7    2022/12    4.81    0.35    7.92